<section data-ng-controller="HomeController">

<div ng-show="!authentication.user">
	<h3><em>Welcome to ChoreMinder</em></h3>
	<p>The fun and easy way to track and manage your chores!</p>
	<center>
		<div id="signin">
		<a class="btn btn-primary" href="/#!/signin"> Sign In</a>.
	</div>
		<p>
		or
		<p>
		<a href="/#!/signup">Sign Up</a>
	</center>
</div>

 <div ng-show="authentication.user.parent">
		<div ng-include="'/modules/families/views/view-family.client.view.html'"></div>
 </div>

<div ng-show="authentication.user.child">
		<div ng-include="'/modules/activities/views/list-activities.client.view.html'"></div>
</div>



</section>
