<div class="pull-right">
	<a id="pt-signin" href="/#!/signin">Sign In</a>
</div>
	<p>&nbsp;<p>
	<h4><strong>ChoreMinder</strong> -- A quick and easy way to manage your family's chores!</h4>


<h3>How it works</h3>
	You have chores that need doing.  Your kids want spending money.
	Many parents agree that giving allowance as a reward for chores is a sensible approach.
<p>
	The problem has always been - how to keep track?
<p>
	ChoreMinder makes it easy - using a simple "points" system.  Children perform chores for points, and points can be redeemed for allowance
	or other purposes.
	<p>
<h3>
Getting Started
</h3>
 <ol>
	<li>Click <a id="pt-signup" href="/#!/signup">Sign Up</a> - then enter your email address and create a password.</li>
	<li>Enter your family name: i.e., "The Jones Family"</li>
	<li>Enter a username and password for each child.  This enables each child to log in from any
	 web browser or smartphone and view their current "points" balance.  Children can also use ChoreMinder to
	indicate that they've completed chores - then as the parent, all you have to do is "Approve" each completed chore.
	</li>
	<li>Set up your family's list of chores -- each chore is worth a certain number of points.
		When the child completes the chore - and you "Approve" that the chore has actually been completed -
		the child earns the points!</li>

</ol>

<h3>
Using ChoreMinder - Parent's View
</h3>
When you log in to ChoreMinder - you'll see each child's points balance, and two big buttons at the top of the screen -
to "Request" a chore, and to "Approve" a chore.

<h3>
Using ChoreMinder - Child's View
</h3>
When your child logs in, they'll see their current points balance, and a list of any "requested" chores.  They can indicate
that chores are completed, giving you the ability to Approve (and change point balance, if desired.)


<h3>
Already a member?   <a href="/#!/signin"> Sign In</a>.
