<section data-ng-controller="FamiliesController" data-ng-init="findOne()">
	<span ng-include="'/modules/core/views/parentButtons.html'"></span>

	<div id="pt-family-name" class="page-header">
		<h4>{{ family.name }}</h4>
	</div>

	<p>&nbsp;<p>
	<div class="list-group">
		<a class="list-group-item" data-ng-repeat="child in family.children" href="#!/viewChild?id={{child._id}}">
			<span class="pull-left"> {{ child.displayName }}</span>
		  <span class="pull-right"> {{ child.points }}</span><br>
		</a>
	</div>
	<span ng-if="authentication.user.parent">
	    <span ng-include="'/modules/activities/views/parentListActivities.html'"></span>
	</span>

</section>
