
.navbar-inverse .navbar-brand {
  color: #F0F0F0;
}

.navbar-inverse .navbar-toggle {
  border-color: #0080FF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #0080FF;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #0080FF 0%, #0080B0 100%);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #0080FF 0%, #0080B0 100%);
}


.navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #F0F0F0;
}

.btn {
  padding: 4px 4px;
}

label.radio-item {
  font-weight: normal;
  margin-bottom: 0;
}



.page-header {
  text-align: center;
  font-size: 24px;
  padding-bottom: 2px;
  margin: 2px 0 2px;
  border-bottom: 1px solid #eee;
}

div.up-right {
  position: absolute;
  right: 10px;
  top: 60px;
}
div.up-left {
  position: absolute;
  left: 10px;
  top: 60px;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
