<section data-ng-controller="ActivitiesController" data-ng-init="find()">

<h4>Activities</h4>
<input type="checkbox" ng-model="showPending">&nbsp;Show Pending
<p>&nbsp;
<div class="list-group">
  <a class="list-group-item" ng-repeat="activity in activities|filter:pendingFilter|limitTo:10" href="#!/activities/{{activity._id}}/edit">
    <span ng-include="'/modules/activities/views/viewActivityDetails.html'"></span>
  </a>
</div>

<div data-ng-hide="!activities.$resolved || activities.length">
  To get started, click on the <a href="/#!/activities/create?type=request"><img src="/modules/core/img/orange_qm.jpg" border=0 alt="Request"></a> icon in the upper left corner
  to "request" a chore.  This chore will show up in the child's "assigned" list when they log in to ChoreMinder.
  <p>&nbsp;<p>
  Or, if a child has already completed a chore, click on the <a href="/#!/activities/create"><img src="/modules/core/img/check.jpg" border=0 alt="Chore Done!"></a> icon
  in the upper right corner.

</div>
</section>
