<section data-ng-controller="ActivitiesController" data-ng-init="findOne()">
	<div class="page-header">

		<h4 data-ng-bind="activity.user.displayName"></h4>
		<br>
		<h4 data-ng-bind="activity.chore.name"></h4>
		<br>
		<h4 data-ng-bind="activity.points"></h4>
		<br>
		<span data-ng-bind="activity.created | date:'medium'"></span>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.roles.indexOf('parent') != -1))">
		<a class="btn btn-primary" href="/#!/activities/{{activity._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
