<em>By
      <strong> {{ activity.user.displayName }}</strong> on
      {{ activity.created | date:'M/d @ h:m a' }}.  {{ activity.points}} points
</em>
<span>

<span ng-if="activity.notes">
  <br>
  <strong>Notes:</strong>{{activity.notes}}
  <br>
</span>

  <strong>
    <span ng-if="activity.status=='pending'">
      <font color="#FF4400">{{ activity.status }}</font>
    </span>
    <span ng-if="activity.status=='approved'">
      <font color="#00AA00">{{ activity.status }}</font>
    </span>
  </strong>
</span>
