<section data-ng-controller="FamiliesController" data-ng-init="find()">
    <div id="pt-header" class="page-header">
        <h1>Families</h1>
    </div>
    <div class="list-group">
        <span data-ng-repeat="family in families" class="list-group-item">
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="family.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="family.user.displayName"></span>
    			</small>
    			<h4 class="list-group-item-heading"><a href="#!/families/{{family._id}}">{{family.name}}</a></h4>
        </span>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!families.$resolved || families.length">
    	No Families yet, why don't you <a href="/#!/families/create">create one</a>?
    </div>
</section>
