<section data-ng-controller="FamiliesController" data-ng-init="findOne()">
	<span ng-if="authentication.user.parent">
	<div id="pt-request-chore" class="up-left">
		<a href="/#!/activities/create?type=request"><img src="/modules/core/img/plus.jpg" border=0 alt="Request"></a>
	</div>

	<div id="pt-complete-chore" class="up-right">
	  <a href="/#!/activities/create"><img src="/modules/core/img/check.jpg" border=0 alt="Chore Done!"></a>
	</div>


	<div id="pt-family-name" class="page-header">
		<h4>{{ family.name }}</h4>
	</div>

	<p>&nbsp;<p>
	<div class="list-group">
		<span class="list-group-item" data-ng-repeat="user in family.children">
			<span class="pull-left"> {{ user.displayName }}</span>
		  <span class="pull-right"> {{ user.points }}</span><br>
		</span>
	</div>
	<span ng-if="authentication.user.parent">
	    <span ng-include="'/modules/activities/views/parentListActivities.html'"></span>
	</span>

</center>
</section>
